/*-==================== CORES ====================-*/
/*
  Isso é só capricho, e não afeta o funcionamento do código! 
*/
$white: #FFFFFF;
$white-lilac: #F4F4FB;
$whisper: #EAECF4;
$big-stone: #1A2744;
$rhino: #2E3D60;
$east-bay: #455781;
$anakiwa: #92C4FF;
$azure: #008FFF;
$dodger-blue: #45ADFF;
$ghost: #C8CBD6;
